<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Movies</h1>
    <% if(Movies.length==0) { %>
    
        <p>Empty</p>
  

    <% } else { %>
    <% for(i of Movies) { %>
        <h3 > MovieName : <%= i.name %> </h3>
        <h3 > MovieYear : <%= i.year %> </h3>
        <button> 
            <a href="/movieDelete/?id=<%= i._id %>">
            X
        </a>
        </button>
        <form action="/updateMovie/?id=<%= i._id %>" method="POST">
            <input type="text" name="name" placeholder="Enter Movie Name" required>
            <input type="number" name="year" placeholder="Enter Movie Year" required>
            <button> Update </button>
        </form>
   <% } %>
   <% } %>
        <form action="/addMovies" method="POST">
            <input type="text" name="movieName" placeholder="Enter Movie Name" required>
            <input type="number" name="movieYear" placeholder="Enter Movie Year" required>
            <button> Add </button>
        </form>
    

</body>
</html>