<h1> Sign Up User</h1>


<form action="/userCreate" method="POST">

<input type="text" name="name" placeholder="Your Name" required>
<input type="email" name="email" placeholder="Your Email" required>
<input type="password" name="password" placeholder="Your Password" required>
<input type="password" name="confirm_password" placeholder="Again Enter Password" required>

<button>Submit</button>
</form>

<p>
    <a href="/auth/google">Google signin/signup</a>
</p>