
<h1>Sign In User</h1>


<form action="/userLogin" method="POST">

    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    
    <button>Login</button>
    </form>


<p>
    <a href="/auth/google">Google signin/signup</a>
</p>